<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Alterar ficha de {{ paciente.nome }}</h2>
    <form class="form" action="{% url 'hosp:atualizar' paciente.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <button class="link" type="submit">Alterar</button>
    </form><br>
    <a class="link" href="{% url 'hosp:mostrar' paciente.id %}">Voltar</a>
</body>
</html>