{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar {{paciente.nome}}</title>
    <link rel="stylesheet" href="{% static 'front/css/atualizar.css' %}?v=2">
</head>
<body>
    <h2>Alterar prontuário de {{ paciente.nome }}</h2>
    <form class="form" action="{% url 'hosp:atualizar' paciente.id %}" method="post">
        {% csrf_token %}
        {{ form.idade.label_tag }}
        {{ form.idade }}
        <br>
        <br>
        <button class="link" type="submit">Alterar</button>
    </form><br>
    <a class="link" href="{% url 'hosp:mostrar' paciente.id %}">Voltar</a>
</body>
</html>