{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Sistema de Triagem{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'front/css/index.css' %}?v=3" />
</head>
<body>
  <header>
    <h1>Sistema de Triagem para Hospitais</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>© 2025 Sistema de Triagem - Desenvolvido por José Vieira e Rafael Lucas</p>
  </footer>
</body>
</html>
