{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Paciente</title>
    <link rel="stylesheet" href="{% static 'front/css/criar.css' %}?v=2">
</head>
<body>
    <h2>Adicionar Paciente</h2>
    <form class="form" action="{% url 'hosp:criar' %}" method="post">
        {% csrf_token %}
        <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.nome }}
        <br>

        <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
            {{ form.data_nascimento }}
        <br>
        <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.sexo }}
        <br>

        <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
            {{ form.cpf }}
        <br>
        <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.data_chegada }}
        <br>

        <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
            {{ form.prioridade }}
        <br>

        <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
            {{ form.status_atendimento }}
        <br>

        <br>
        <button class="link" type="submit">Adicionar</button>
    </form><br>
    <a class="link" href="{% url 'hosp:index' %}">Voltar</a>
</body>
</html>