{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Paciente</title>
    <link rel="stylesheet" href="{% static 'front/css/base.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'front/css/criar.css' %}?v=2">
</head>
<body>

    <header>
        <a href="{% url 'hosp:index' %}"><h1>MedTriagem</h1></a>

        <nav class="menu-links">
            <a href="{% url 'hosp:index' %}" ><p>Home</p></a>
            <a href="{% url 'hosp:criar' %}" ><p>Dashboard</p></a>
            <a href="{% url 'hosp:criar' %}" ><p>Triagem</p></a>
            <a href="{% url 'hosp:listar' %}" ><p>Pacientes</p></a>
            
        </nav>

         <div class="entrar">
            <a href="{% url 'hosp:listar' %}" class="btn-entrar">Entrar</a>
        </div>
    </header>
    <main>

        <h2>Adicionar Paciente</h2>
        <form class="form" action="{% url 'hosp:criar' %}" method="post">
            {% csrf_token %}
            <label for="{{ form.nome.id_for_label }}">Nome:</label>
                {{ form.nome }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Idade::</label>
                {{ form.idade }}
            <br>
            <label for="{{ form.nome.id_for_label }}">Gênero:</label>
                {{ form.sexo }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">CPF:</label>
                {{ form.cpf }}
            <br>
            <label for="{{ form.nome.id_for_label }}">Convênio:</label>
                {{ form.convenio }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Horario de Chegada:</label>
                {{ form.hora_chegada }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Temperatura:</label>
                {{ form.temperatura }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Pulso:</label>
                {{ form.pulso }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Queixa:</label>
                {{ form.queixa }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">dor:</label>
                {{ form.dor }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Inicio dos Sintomas:</label>
                {{ form.inicio_sintomas }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Sintomas Associados:</label>
                {{ form.sintomas_associados }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Temperatura:</label>
                {{ form.temperatura }}
            <br>
            <label for="{{ form.tipo.id_for_label }}">Observações:</label>
                {{ form.observacoes }}
            <br>
                        <label for="{{ form.tipo.id_for_label }}">Classificação:</label>
                {{ form.classificacao }}
            <br>
                        <label for="{{ form.tipo.id_for_label }}">Status de Atendimento:</label>
                {{ form.status_atendimento }}
            <br>


            <br>
            <button class="link" type="submit">Adicionar</button>
        </form><br>
    </main>


</body>
</html>