{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes7</title>
    <link rel="stylesheet" href="{% static 'front/css/base.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'front/css/dashboard.css' %}?v=2">
</head>
<body>
    <header>
        <h1><a href="{% url 'hosp:index' %}">MedTriagem</a></h1>


        <nav class="menu-links">
            <a href="{% url 'hosp:index' %}" ><p>Home</p></a>
            <a href="{% url 'hosp:dashboard' %}" ><p>Dashboard</p></a>
            {% if user.tipo_usuario != 'MEDICO' %}
                <a href="{% url 'hosp:criar' %}" ><p>Triagem</p></a>
            {% endif %}
            <a href="{% url 'hosp:listar' %}" ><p>Pacientes</p></a> 
        </nav>
         <div class="entrar">
            <a href="{% url 'hosp:perfil' %}" class="btn-entrar">Perfil</a>
        </div>
    </header>
    <main class="dashboard-container">
        <section class="cards">
            <div class="card">
                <p>Total de Pacientes</p>
                <h2>{{ pacientes|length }}</h2></h2>
                <div class="prioridades">
                    <p><span class="dot red"></span> Crítico: {{ status_contagem.Crítico|default:0 }}</p>
                    <p><span class="dot yellow"></span> Urgente: {{ status_contagem.Urgente|default:0 }}</p>
                    <p><span class="dot green"></span> Normal: {{ status_contagem.Normal|default:0 }}</p>
                </div>
            </div>
        </section>

        <div class="filtros">
            <button class="filtro-btn ativo">Todos</button>
            <button class="filtro-btn">Crítico</button>
            <button class="filtro-btn">Urgente</button>
            <button class="filtro-btn">Normal</button>
        </div>

        <section class="table-section">
            <h2>Pacientes em espera</h2>
            <table>
                <thead>
                    <tr>
                        <th>Prioridade</th>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                    <tr>
                        <td>
                            {% if paciente.prioridade|lower == "critico" %}
                                <span class="dot critico"></span>
                            {% elif paciente.prioridade|lower == "urgente" %}
                                <span class="dot urgente"></span>
                            {% else %}
                                <span class="dot normal"></span>
                            {% endif %}
                        </td>
                        <td>P-{{ paciente.id }}</td>
                        <td>{{ paciente.nome }}</td>
                        <td>{{ paciente.sexo }}</td>
                        <td>
                           {% if paciente.prioridade|lower == "critico" %}
                                <span class="status-tag critico">Crítico</span>
                            {% elif paciente.prioridade|lower == "urgente" %}
                                <span class="status-tag urgente">Urgente</span>
                            {% else %}
                                <span class="status-tag normal">Normal</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'hosp:mostrar' paciente.id %}">Ficha</a>
                            <a href="{% url 'hosp:deletar' paciente.id %}" onclick="return confirm('Tem certeza disso?')">Remover</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>


            </table>
        </section>
    </main>

   

    


    <footer>
        <p>© 2025 Sistema de Triagem - Desenvolvido por José Vieira e Rafael Lucas</p>

    </footer>
</body>
</html>