{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente {{paciente.nome}}</title>
    <link rel="stylesheet" href="{% static 'front/css/base.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'front/css/detalhes.css' %}?v=2">

</head>
<body>
    <header>
        <h1><a href="{% url 'hosp:index' %}">MedTriagem</a></h1>

        <nav class="menu-links">
            <a href="{% url 'hosp:index' %}" ><p>Home</p></a>
            <a href="{% url 'hosp:listar' %}" ><p>Dashboard</p></a>
            <a href="{% url 'hosp:criar' %}" ><p>Triagem</p></a>
            <a href="{% url 'hosp:listar' %}" ><p>Pacientes</p></a>
            {% if user.is_superuser or user.tipo_usuario == 'ADMIN' %}
                <a href="{% url 'hosp:painel_gestao' %}">Painel de Gestão</a>
            {% endif %}
            
        </nav>
            
         <div class="entrar">
            <a href="{% url 'hosp:listar' %}" class="btn-entrar">Entrar</a>
        </div>
    </header>


    <h2>Paciente {{ paciente.nome }}</h2>
    <div>
        <p><b>Nome:</b> {{ paciente.nome }}</p>
        <p><b>Idade:</b> {{ paciente.idade }}</p>
        <p><b>Sexo:</b> {{ paciente.sexo }}</p>
        <p><b>CPF:</b> {{ paciente.cpf }}</p>
        <p><b>Convênio:</b> {{ paciente.convenio }}</p>
        <p><b>Hora de Chegada:</b> {{ paciente.hora_chegada }}</p>

        <p><b>Temperatura:</b> {{ paciente.temperatura }}</p>
        <p><b>Pulso:</b> {{ paciente.pulso }}</p>

        <p><b>Queixa:</b> {{ paciente.queixa }}</p>
        <p><b>Intensidade da Dor:</b> {{ paciente.dor }}</p>
        <p><b>Inicio dos Sintomas:</b> {{ paciente.inicio_sintomas }}</p>
        <p><b>Sintomas Associados:</b> {{ paciente.sintomas_associados }}</p>
        <p><b>Observações:</b> {{ paciente.observacoes }}</p>

        <p><b>Classificação:</b> {{ paciente.classificacao }}</p>
        <p><b>Responsável pela Triagem:</b> {{ paciente.atendente.nome_completo }}</p>
        <p><b>Justificativa da IA (triagem):</b> {{ paciente.justificativa }}</p>

        <div class="card-body">
            <p><strong>Status Atual:</strong> {{ paciente.get_status_display }}</p>

            {% if paciente.medico_responsavel %}
                <p><strong>Médico Responsável:</strong> {{ paciente.medico_responsavel.nome_completo }}</p>
            {% endif %}

            {% if user.tipo_usuario == 'MEDICO' %}
                <form action="{% url 'hosp:mudar_status' pk=paciente.pk %}" method="post">
                    {% csrf_token %}

                    {% if paciente.status == 'Aguardando' %}
                        <button type="submit" class="btn btn-primary">Iniciar Atendimento</button>
                    
                    {% elif paciente.status == 'Em atendimento' %}
                        <button type="submit" class="btn btn-success">Finalizar Atendimento</button>
                    
                    {% elif paciente.status == 'Concluido' %}
                        <p class="text-muted">Atendimento finalizado.</p>
                    {% endif %}
                </form>
            {% endif %}

            <h4>Linha do Tempo do Atendimento</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Chegada:</strong> {{ paciente.hora_chegada|date:"d/m/Y H:i:s" }}
                </li>

                {% if paciente.hora_inicio_atendimento %}
                <li class="list-group-item">
                    <strong>Início do Atendimento:</strong> {{ paciente.hora_inicio_atendimento|date:"d/m/Y H:i:s" }}
                    <br>
                    <small class="text-muted">Tempo de espera: {{ paciente.tempo_de_espera }}</small>
                </li>
                {% endif %}
                
                {% if paciente.hora_fim_atendimento %}
                <li class="list-group-item">
                    <strong>Fim do Atendimento:</strong> {{ paciente.hora_fim_atendimento|date:"d/m/Y H:i:s" }}
                    <br>
                    <small class="text-muted">Duração do atendimento: {{ paciente.tempo_de_atendimento }}</small>
                </li>
                {% endif %}
            </ul>
            <hr>

            <h3>Histórico do Prontuário</h3>
            {% if user.tipo_usuario != 'ATENDENTE' %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Adicionar Nova Observação</h5>
                    <form method="post">
                        {% csrf_token %}
                        {{ form_prontuario.as_p }}
                        <button type="submit" class="btn btn-primary">Adicionar ao Prontuário</button>
                    </form>
                </div>
            </div>
            {% endif %}


            <h4>Observações Anteriores</h4>
            {% for entrada in historico %}
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <strong>Data:</strong> {{ entrada.data_criacao|date:"d/m/Y H:i" }} | 
                        <strong>Autor:</strong> {{ entrada.autor.nome_completo|default:"Profissional Removido" }}
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="white-space: pre-wrap;">{{ entrada.texto }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Nenhuma observação registrada no prontuário ainda.</p>
            {% endfor %}
        </div>

    </div>
    <br><br><a class="btn btn-secondary" href="{{ voltar_para_url }}">Voltar</a>
    {% if user.is_superuser or user.tipo_usuario == 'ADMIN' %}
    <br><br><a class="link" href="{% url 'hosp:atualizar' paciente.id %}">Atualizar</a>
    {% endif %}
</body>
</html>