{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente {{paciente.nome}}</title>
    <link rel="stylesheet" href="{% static 'front/css/base.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'front/css/detalhes.css' %}?v=2">

</head>
<body>
    <header>
        <h1><a href="{% url 'hosp:index' %}">MedTriagem</a></h1>

        <nav class="menu-links">
            <a href="{% url 'hosp:index' %}" ><p>Home</p></a>
            <a href="{% url 'hosp:listar' %}" ><p>Dashboard</p></a>
            <a href="{% url 'hosp:criar' %}" ><p>Triagem</p></a>
            <a href="{% url 'hosp:listar' %}" ><p>Pacientes</p></a>
            
        </nav>
            
         <div class="entrar">
            <a href="{% url 'hosp:listar' %}" class="btn-entrar">Entrar</a>
        </div>
    </header>


    <h2>Paciente {{ paciente.nome }}</h2>
    <div>
        <p><b>Nome:</b> {{ paciente.nome }}</p>
        <p><b>Idade:</b> {{ paciente.idade }}</p>
        <p><b>Sexo:</b> {{ paciente.sexo }}</p>
        <p><b>CPF:</b> {{ paciente.cpf }}</p>
        <p><b>Convênio:</b> {{ paciente.convenio }}</p>
        <p><b>Hora de Chegada:</b> {{ paciente.hora_chegada }}</p>

        <p><b>Temperatura:</b> {{ paciente.temperatura }}</p>
        <p><b>Pulso:</b> {{ paciente.pulso }}</p>

        <p><b>Queixa:</b> {{ paciente.queixa }}</p>
        <p><b>Intensidade da Dor:</b> {{ paciente.dor }}</p>
        <p><b>Inicio dos Sintomas:</b> {{ paciente.inicio_sintomas }}</p>
        <p><b>Sintomas Associados:</b> {{ paciente.sintomas_associados }}</p>
        <p><b>Observações:</b> {{ paciente.observacoes }}</p>

        <p><b>Classificação:</b> {{ paciente.classificacao }}</p>
        <p><b>Status de Atendimento:</b> {{ paciente.status_atendimento }}</p>
    </div>
    <br><br><a class="link" href="{% url 'hosp:listar' %}">Voltar</a>
    <br><br><a class="link" href="{% url 'hosp:atualizar' paciente.id %}">Atualizar</a>
</body>
</html>