{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="{% static 'front/css/index.css' %}?v=2">
</head>
<body>
    <h2>Sistema de Triagem para Hospitais</h2>
    <a href="{% url 'hosp:criar' %}" class="link">Adicionar novo Paciente</a>
    <a href="{% url 'hosp:listar' %}" class="link">Mostrar Lista</a>
    <hr>
    <br>
</body>
</html>