{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="{% static 'front/css/base.css' %}?v=3">
    <link rel="stylesheet" href="{% static 'front/css/listar.css' %}?v=4">
</head>
<body>
    <header>
        <h1><a href="{% url 'hosp:index' %}">MedTriagem</a></h1>
        <nav class="menu-links">
            <a href="{% url 'hosp:index' %}">Home</a>
            <a href="{% url 'hosp:dashboard' %}">Dashboard</a>
            {% if user.tipo_usuario != 'MEDICO' %}
            <a href="{% url 'hosp:criar' %}">Triagem</a>
            {% endif %}
            <a href="{% url 'hosp:listar' %}">Pacientes</a> 
        </nav>
        <div class="entrar">
            <a href="{% url 'hosp:perfil' %}" class="btn-entrar">Perfil</a>
        </div>
    </header>

    <main class="pacientes-container">
        <h2>Pacientes</h2>
        <div class="filtros-container">
            <div class="filtros-principal">
                {% if user.tipo_usuario != 'MEDICO' %}
                <a href="{% url 'hosp:criar' %}">
                    <button class="btn-adicionar">+ Adicionar Paciente</button>
                </a>
                {% endif %}
                <input type="text" id="busca-input" placeholder="🔍 Buscar por nome ou ID..." class="busca-input">
                <button class="btn-filtros" id="toggle-filtros">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 3H2l8 9.46V19l4 2v-8.54L22 3z"></path></svg>
                    Filtros
                </button>
            </div>
            
            <div class="filtros-avancados" id="filtros-avancados">
                <div class="filtros-grupo">
                    <strong>Status</strong>
                    <div class="filtros-status">
                        <button class="filtro-status ativo" data-status="todos">Todos</button>
                        <button class="filtro-status" data-status="Em Atendimento">Em Atendimento</button>
                        <button class="filtro-status" data-status="Aguardando">Aguardando</button>
                        <button class="filtro-status" data-status="Concluido">Concluídos</button>
                    </div>
                </div>
                <div class="filtros-grupo">
                    <strong>Risco</strong>
                    <div class ="filtros-cor">
                        <button class="filtro-cor ativo" data-cor="todos">Todas</button>
                        <button class="filtro-cor" data-cor="vermelho">Vermelho</button>
                        <button class="filtro-cor" data-cor="laranja">Laranja</button>
                        <button class="filtro-cor" data-cor="amarelo">Amarelo</button>
                        <button class="filtro-cor" data-cor="verde">Verde</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-pacientes">
            {% for paciente in pacientes %}
            <div class="card-paciente {{ paciente.classificacao|lower }}" data-cor="{{ paciente.classificacao|lower }}" data-status="{{ paciente.status|default:'Aguardando' }}">
                <div class="card-topo">
                    <div class="bolinha {{ paciente.classificacao|lower }}">{{ paciente.nome|slice:":2"|upper }}</div>
                    <div class="card-info">
                        <strong>{{ paciente.nome }}</strong>
                        <br>
                        <small>ID: P-{{ paciente.id }} • {{ paciente.idade }} anos</small>
                        <br>
                        <small>{{ paciente.hora_chegada }} | {{paciente.inicio_sintomas}}</small>
                    </div>
                    <div class="topo-direita">
                        <span class="tag {{ paciente.classificacao|lower }}">{{ paciente.classificacao }}</span>
                        <span class="status-paciente">{{ paciente.status|default:'Aguardando' }}</span>
                    </div>
                </div>

                <p class="queixa">Queixa Principal: {{ paciente.queixa }}</p>

                <div class="detalhes">
                    <div><b>Pressão</b><br>{{ paciente.pressaoArterial }} mmHg</div>
                    <div><b>Pulso</b><br>{{ paciente.pulso }} bpm</div>
                    <div><b>Temperatura</b><br>{{ paciente.temperatura }} °C</div>
                    <div><b>Saturação</b><br>{{ paciente.saturacao }}%</div>
                </div>

                <div class="card-actions">
                    <a href="{% url 'hosp:mostrar' paciente.id %}"><button class="btn-prontuario">📄 Prontuário</button></a>
                    <a href="{% url 'hosp:deletar' paciente.id %}" onclick="return confirm('Tem certeza que deseja remover este paciente?')"><button class="btn-remover">Remover</button></a>
                    <button class="btn-atender" data-id="{{ paciente.id }}">Atender</button>
                </div>
            </div>
            
             {% empty %}
                <p style="grid-column: 1 / -1; text-align: center; color: #777;">
                    Nenhum paciente encontrado no banco de dados.
                </p>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>© 2025 Sistema de Triagem - Desenvolvido por José Vieira e Rafael Lucas</p>
    </footer>
    
    <script src="{% static 'front/js/filtro.js' %}?v=3"></script>
</body>
</html>