{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Autenticação{% endblock %} - Sistema de Triagem</title>
    
    <link rel="stylesheet" href="{% static 'front/css/login.css' %}?v=5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
</head>
<body class="{% block body_class %}{% endblock %}">

    <div class="login-container">
        <div class="left-panel">
            <div class="panel-content">
                <h2>Bem-vindo ao sistema <strong>MedTriagem</strong></h2>
                <p>Uma plataforma inteligente que une <strong>Machine Learning</strong> e gestão de fluxo para priorizar o cuidado do paciente e otimizar o seu tempo.</p>
                
                <ul class="features-list">
                    <li><i class="fas fa-brain"></i>Classificação de Risco por IA</li>
                    <li><i class="fas fa-stream"></i> Fila de Atendimento Priorizada</li>
                    <li><i class="fas fa-file-medical-alt"></i> Prontuários Digitais Auditáveis</li>
                    <li><i class="fas fa-chart-line"></i> Painel com Métricas em Tempo Real</li>
                    <li><i class="fas fa-sync-alt"></i> Ciclo de Feedback para Melhoria Contínua</li>
                </ul>

                <div class="footer-credit">
                    <p>Desenvolvido por José Vieira e Rafael Lucas</p>
                </div>
            </div>
        </div>

        <div class="right-panel">
            {% block form_content %}
            {% endblock %}
        </div>
    </div>

    <script src="https://unpkg.com/imask"></script>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>