{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <link rel="stylesheet" href="{% static 'front/css/triagem.css' %}?v=2">
</head>
<body>
    <form method="post" action="{% url 'hosp:triagem' %}">
        {% csrf_token %}
        <label for="sintomas">Digite os sintomas do paciente:</label>
        <textarea id="sintomas" name="sintomas" rows="4" cols="50"></textarea>

        <button type="submit">Classificar</button>
    </form>

    {% if resultado %}
        <h3>Resultado da triagem:</h3>
        <p>{{ resultado }}</p>
    {% endif %}
</body>
</html>